

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
   
}

body{
    background: #E5E5E5;
}

main{
    display: flex;
}

.contenedor-textareas {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
}
.contenedor-textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.input-texto{
    width: 400px;
    height: 180px;
    font-size: 18px;
    padding: 10px;    
}

.contenedor-textarea2 {
    display: flex;
    flex-direction: column;
}
.mensaje{
    width: 200px;
    height: 250px;
    position: relative;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
 }

.copiar{
    position: relative;
    background: darkblue;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.botones{
    display: flex;
    flex-direction: row;
}

.encriptar{
    background: darkblue;
    font-weight: bold;
    color: white;
    padding: 10px 25px;
}

.desencriptar{
    margin-left: 30px ;
    background: darkblue;
    font-weight: bold;
    color: white;
    padding: 10px 25px;
}

.informacion{
    font-size: 15px;

}



